<html>
    <h1>Duplicate question identifier</h1>
    <body>
        <form action="/predict" method="POST">
            <label for="q1">Enter 1st question</label>
                <textarea name="q1" id="q1" cols="30" rows="10"></textarea>    
            <br>
            <label for="q2">Enter 2nd question</label>
                <textarea name="q2" id="q2" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Check">
        </form>

    </body>
</html>